h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}

li {
    font-weight: bold;
    transition: background-color 0.5s linear;
}

li:hover {
	cursor: pointer;
	background-color: #D2D2D2;
}

.strike {
	text-decoration: line-through;
}

.erase-task,
.erase-task:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

textarea {
	resize: none;
}